// Colors

// ~~~~~~~~~ //
// Primary
$very-dark-purple: hsl(300, 43%, 22%);
$soft-pink: hsl(333, 80%, 67%);
// Neutral
$dark-grayish-purple: hsl(303, 10%, 53%);
$light-grayish-purple: hsl(300, 24%, 96%);
$white: hsl(0, 0%, 100%);
// ~~~~~~~~~ //

// Font Weight
$regular: 400;
$medium: 500;
$bold: 700;
